.searchbar {
  border-bottom: 1px solid gray;
}
.searchForm {
  padding: 10px;
}
.userchat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
    &:hover{
        background-color: #2f2d52;
    }
}
.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.inputtext {
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: row-end;
  width: 100%;
  border: none;
  border-bottom: 1px solid #555280;
  outline: none;
  &::placeholder {
    color: lightgrey;
  }
}
